# This is a comment
# Each line is a file pattern followed by one or more owners

# The team "github-ci-engineers" is responsible for everything in the ".github/" directory
.github/ @github-ci-engineers

# The team "protobuf-engineers" is responsible for all .proto files
*.proto @protobuf-engineers

# The team "opentofu-engineers" is responsible for all .tf files
*.tf @opentofu-engineers

# The team "java-engineers" is responsible for all .java files
*.java @java-engineers
